<div class="container">
  <form class="form g-3" [formGroup]="newCityForm" (ngSubmit)="addCity()">
    <table>
      <tbody>
        <tr>
          <td>
            <label class="form-label" for="newCityID">City:</label>
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              name="newCity"
              id="newCityID"
              formControlName="newCity"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label class="form-label" for="newCityID">Country Code:</label>
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              name="newCity"
              id="newCityID"
              placeholder="Enter 2 Character Country Code"
              formControlName="newCountryCode"
            />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button
              class="btn btn-outline-primary px-auto"
              type="submit"
              [disabled]="newCityForm.invalid"
            >
              Add
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <!-- CITY LIST -->
  <table class="mt-3 table table-hover">
    <tbody>
      <tr class="row" *ngFor="let city of cityList; let i = index">
        <td class="d-flex justify-content-center">
          <img
            class="me-auto"
            src="https://flagsapi.com/{{
              city.countryCode | uppercase
            }}/flat/64.png"
          />
          <a
            class="px-5 py-2 my-auto btn btn-outline-primary"
            [routerLink]="['/weather/', city.name]"
          >
            {{ city.name | titlecase }}
          </a>
          <button
            class="btn btn-outline-danger ms-auto"
            type="button"
            (click)="deleteCity(i)"
          >
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
