<div class="container">
  <form class="form row g-3" [formGroup]="newCityForm" (ngSubmit)="addCity()">
    <div class="col-auto">
      <label class="form-label" for="newCityID">City:</label>
    </div>
    <div class="col-auto">
      <input
        class="form-control"
        type="text"
        name="newCity"
        id="newCityID"
        formControlName="newCity"
      />
    </div>
    <div class="col-auto">
      <button
        class="btn btn-outline-primary"
        type="submit"
        [disabled]="newCityForm.invalid"
      >
        Add
      </button>
    </div>
  </form>

  <table class="table table-hover">
    <tbody>
      <tr class="row" *ngFor="let city of cityList">
        <td class="d-flex justify-content-center">
          <a class="px-5 py-2" [routerLink]="['/weather/', city]">{{ city | titlecase }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
